*{
  border:0px;
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
@font-face{
  font-family:"Times New Normal Regular";
  src:url("../fuentes/Times New Normal Regular.ttf");
}

/*Computadoras de escritorio*/
@media only screen and (min-width:1367px){

body{
background: url("../img/fondo.png") no-repeat center center/ cover;
color:#ffffff;
font-family: "Times New Normal Regular";
}

.navigation{
display: grid;
grid-template-columns: repeat(1,1fr);
grid-auto-rows: 2;
 }

.navigation, .navigation a{
text-decoration:none;
color:white;
}
.active{
border-bottom: 3px solid #4267B2;
}
.navigation a:hover{
border-bottom: 3px solid #2867B2;
}
.logo{
display:flex;
justify-content:center;
align-items:center;
padding:10px;
}
.iz{
display:grid;
grid-template-columns: repeat(4,1fr);
font-size:20px;
padding:10px;
}
hr{
  border:1px solid #ffffff;
}

@keyframes prsnttn{
  25%{
    background-image:url("../img/road2.jpg");
  }
  50%{
    background-image: url("../img/rowtrailers.jpg");
  }
  75%{
    background-image: url("../img/road.jpg");
  }
  100%{
    background-image: url("../img/trailers.jpg");
  }
}
.prsnttn{
  width:100%;
  height:1000px;
  background: url("../img/imagotipoWhite.png") no-repeat center center/cover;
  animation:prsnttn 30s 4;
}
.contact{
display:flex;
justify-content:center;
}
.clients{
display:flex;
justify-content:center;
}
.whoWeAre{
display:flex;
justify-content:center;
}
.service{
display:flex;
justify-content:center;
}

 .container{
  width:75%;
  margin:auto;
  color:#ffffff;
  background-color: rgba(250,250,250,.1);
  padding:50px 50px;
  margin-bottom:50px;
  margin-top:50px;
  }
  .content{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows:8;
    grid-gap:20px;
  }
  .container i{
    color: #4AC959;
  }

  .content p{
  font-size:20px;
  }
  .container h3{
    text-align: center;
  }
  .container img{
    width:100%;
  }
  .putOn{
    width:50px;
    position: relative;
    bottom:180px;
    left:355px;
  }
  .putOn a{
    text-decoration: none;
    color: #000000;
    font-size:30px;
  }
  .road{
    width:120px;
    position:relative;
    bottom:150px;
    left:225px;
  }
  .road a{
    text-decoration: none;
    color: #000000;
    font-size:36px;
  }
  ul li{
  list-style:none;
  font-size: 20px;
  }
  ul p{
    font-size: 20px;
  }
.listService ul{
text-align:center;
}
.listService .quote{
  font-size:17px;
}

 .lgstTeam{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-auto-rows:3;
  }
  .nnc{
    text-align:center;
  }
  .nnc img{
    width:180px;
    height:180px;
    border-radius:100px;
  }
  .nnc a, .jspht a{
    text-decoration: none;
    color:#ffffff;
  }
  .jspht{
    text-align: center;
  }
  .jspht img{
    width:180px;
    height:180px;
    border-radius:100px;
  }

footer{
display:grid;
grid-template-columns: repeat(3,1fr);
grid-auto-rows:minmax(100px,auto);
font-size:1em;
color:#ffffff;
height:200px;
}
footer a{
text-decoration:none;
color:#ffffff;
}
.we{
display:flex;
align-items:center;
justify-content: center;
text-align: center;
}
.pNt{
display:grid;
grid-template-columns:repeat(1,1fr);
}
.politics{
display:grid;
justify-content:center;
align-items:center;
}
.terms{
display:grid;
justify-content:center;
}
.socials{
display:grid;
grid-template-columns:repeat(5,1fr);
grid-auto-columns: 2;
font-size:2em;
}
.title{
grid-column:1/6;
display:grid;
align-items:center;
font-size:16px;
text-align:center;
}
.face a:hover{
color: #4267B2;
}
.face{
grid-row:2;
display:flex;
justify-content:center;
align-items:center;
margin-bottom:15px;
}
.ins a:hover{
background: -webkit-linear-gradient( #5851DB,#833AB4,#C13584, #E1306C,#FD1D1D, #F56040,#F77737,#FCAF45);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color: #FFDC80;
}
.ins{
grid-row:2;
display:flex;
justify-content:center;
align-items:center;
margin-bottom:15px;
}
.link a:hover{
color:#2867B2;
}
.link{
grid-row:2;
display:flex;
justify-content:center;
align-items:center;
margin-bottom:15px;
}

.youtube a:hover{
color:#FF0000;
}
.youtube{
grid-row:2;
display:flex;
justify-content:center;
align-items:center;
margin-bottom:15px;
}
.wpp{
  position:fixed;
  bottom:30px;
  right:40px;
}
.fa-whatsapp{
  color: #455A64;
  font-size:2em;
}
.fa-whatsapp:hover{
  color:#4AC959;
}
}
/*Laptops*/
@media only screen and (max-width:1366px){
  body{
  background: url("../img/fondo2.png") no-repeat center center/cover;
  color:#ffffff;
  font-family: "Times New Normal Regular";
  }

  .navigation{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-auto-rows: 2;
   }

  .navigation, .navigation a{
  text-decoration:none;
  color:white;
  }
  .active{
  border-bottom: 3px solid #4267B2;
  }
  .navigation a:hover{
  border-bottom: 3px solid #2867B2;
  }
  .logo{
  display:flex;
  justify-content:center;
  align-items:center;
  padding:10px;
  }
  .iz{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  font-size:20px;
  padding:10px;
  }
  hr{
    border:1px solid #ffffff;
  }

  @keyframes prsnttn{
    25%{
      background-image:url("../img/road2.jpg");
    }
    50%{
      background-image: url("../img/rowtrailers.jpg");
    }
    75%{
      background-image: url("../img/road.jpg");
    }
    100%{
      background-image: url("../img/trailers.jpg");
    }
  }
  .prsnttn{
    width:100%;
    height:1000px;
    background: url("../img/imagotipoWhite.png") no-repeat center center/cover;
    animation:prsnttn 30s 4;
  }
  .contact{
  display:flex;
  justify-content:center;
  }
  .clients{
  display:flex;
  justify-content:center;
  }
  .whoWeAre{
  display:flex;
  justify-content:center;
  }
  .service{
  display:flex;
  justify-content:center;
  }

  .container{
  width:75%;
  margin:auto;
  color:#ffffff;
  background-color: rgba(250,250,250,.1);
  padding:50px 50px;
  margin-bottom:50px;
  margin-top:50px;
  }
  .content{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows:8;
    grid-gap:20px;
  }
  .container i{
    color: #4AC959;
  }

  .content p{
  font-size:20px;
  }
  .container h3{
    text-align: center;
  }
  .container img{
    width:100%;
  }
  .putOn{
    width:50px;
    position: relative;
    bottom:150px;
    left:255px;
  }
  .putOn a{
    text-decoration: none;
    color: #000000;
    font-size:30px;
  }
  .road{
    position:relative;
    bottom:140px;
    text-align: center;
  }
  .road a{
    text-decoration: none;
    color: #000000;
    font-size:36px;
  }
  ul li{
  list-style:none;
  font-size: 20px;
  }
  ul p{
    font-size: 20px;
  }
  .listService ul{
  text-align:center;
  }
  .listService .quote{
    font-size:18px;
  }
  .lgstTeam{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-auto-rows:3;
  }
  .lgstTeam img{
    width:180px;
    height:180px;
    border-radius:100px;
  }
  .nnc{
    text-align:center;
  }
  .nnc a, .jspht a{
    text-decoration: none;
    color:#ffffff;
  }
  .jspht{
    text-align: center;
  }

  footer{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows:minmax(100px,auto);
  font-size:1em;
  color:#ffffff;
  height:200px;
  }
  footer a{
  text-decoration:none;
  color:#ffffff;
  }
  .we{
  display:flex;
  align-items:center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  }
  .pNt{
  display:grid;
  grid-template-columns:repeat(1,1fr);
  font-size: 14px;
  }
  .politics{
  display:flex;
  justify-content:center;
  align-items:center;
  }
  .terms{
  display:flex;
  justify-content:center;
  }
  .socials{
  display:grid;
  grid-template-columns:repeat(5,1fr);
  grid-auto-columns: 4;
  font-size:2em;
  }
.title{
grid-column:1/6;
display:grid;
align-items:center;
font-size:16px;
text-align:center;
}

  .face a:hover{
  color: #4267B2;
  }
  .face{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom:15px;
  }
  .ins a:hover{
  background: -webkit-linear-gradient( #5851DB,#833AB4,#C13584, #E1306C,#FD1D1D, #F56040,#F77737,#FCAF45);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #FFDC80;
  }
  .ins{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom:15px;
  }
  .link a:hover{
  color:#2867B2;
  }
  .link{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom:15px;
  }

  .youtube a:hover{
  color:#FF0000;
  }
  .youtube{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom:15px;
  }
  .wpp{
    position:fixed;
    bottom:30px;
    right:40px;
  }
  .fa-whatsapp{
    color: #455A64;
    font-size:2em;
  }
  .fa-whatsapp:hover{
    color:#4AC959;
  }
}

/*smartPhones*/
@media only screen and (max-width:850px){

body{
background: url("../img/fondo.png") no-repeat center center/cover;
color:#ffffff;
font-family: "Times New Normal Regular";
}

.navigation{
display:grid;
grid-template-columns: repeat(1,1fr);
grid-auto-rows: 2;
}
.navigation a{
color: #ffffff;
}
.logo img{
width:100%;
padding:10px;
}
.iz{
display:grid;
grid-template-columns: repeat(4,1fr);
font-size:1.4em;
}
.service{
display:flex;
justify-content:center;
}
.contact{
display:flex;
justify-content:center;
}
.clients{
display:flex;
justify-content:center;
}
.whoWeAre{
display:flex;
justify-content:center;
}
.navigation span{
display:none;
}
.active{
border-bottom: 3px solid #FF0000;
}
hr{
border: 1px solid #ffffff;
}

@keyframes prsnttn{
  25%{
    background-image:url("../img/road2.jpg");
  }
  50%{
    background-image: url("../img/rowtrailers.jpg");
  }
  75%{
    background-image: url("../img/road.jpg");
  }
  100%{
    background-image: url("../img/trailers.jpg");
  }
}
.prsnttn{
  width:100%;
  height:900px;
  background: url("../img/imagotipoWhite.png") no-repeat center center/cover;
  animation:prsnttn 30s 6;
}

.container{
padding:10px;
width:100%;
margin:3px 0px 3px 0px;
background:#EAEDED;
color:#000000;

}
.content{
  display:grid;
  grid-template-columns: repeat(1,1fr);
}
.container h3{
text-align:center;
}
.container p{
text-align:justify;
}

.container img{
width:100%;
border-radius:10px;
}

.container a{
text-decoration:none;
font-size:20px;
color: #000000;
}

.putOn{
width:50px;
position:relative;
bottom:140px;
left:285px;
}
.road{
  width:150px;
  position:relative;
  left:180px;
}
.listService li{
list-style-type:none;
}
.lgstTeam{
  margin-top:50px;
  display:grid;
  grid-template-columns: repeat(1,1fr);
  grid-gap:20px;
}
.lgstTeam img{
width:50%;
border-radius:150px;
}
footer{
  height:auto;
  display:grid;
  grid-template-columns:repeat(1,1fr);
  grid-uto-rows:3;
  text-align:center;
  grid-gap:20px;
}
footer a{
color:#ffffff;
text-decoration:none;
}
.we{
grid-row:3;

}
.pNt{
grid-row:2;
}
.socials{
display:grid;
grid-template-columns:repeat(4,1fr);
grid-auto-rows: 1;
font-size:2em;
}
.face,
.ins,
.link,
.youtube{
display:flex;
justify-content:center;
align-items:center;
}
.wpp{
position:fixed;
bottom:30px;
right:30px;
}
.fa-facebook{
color:#4267B2;
}
.fa-instagram{
background: -webkit-linear-gradient( #5851DB,#833AB4,#C13584, #E1306C,#FD1D1D, #F56040,#F77737,#FCAF45);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color: #FFDC80;
}
.fa-linkedin{
color:#2867B2;
}
.fa-youtube{
color:#FF0000;
}
.fa-whatsapp{
color:#4AC959;
font-size:40px;
}
}
