*{
  border:0px;
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
body{
background:#000000;
color:#ffffff;
}
/*Computadoras de escritorio*/
@media only screen and (min-width:1361px){
.navigation{
display: grid;
grid-template-columns: repeat(1,1fr);
grid-auto-rows: 2;
 }

.navigation, .navigation a{
text-decoration:none;
color:white;
}
.active{
border-bottom: 3px solid #4267B2;
}
.navigation a:hover{
border-bottom: 3px solid #2867B2;
}
.logo{
display:flex;
justify-content:center;
align-items:center;
padding:10px;
}
.iz{
display:grid;
grid-template-columns: repeat(4,1fr);
font-size:1.5em;
padding:10px;
}
hr{
  border:1px solid #ffffff;
}

.contact{
display:flex;
justify-content:center;
}
.clients{
display:flex;
justify-content:center;
}
.whoWeAre{
display:flex;
justify-content:center;
}
.service{
display:flex;
justify-content:center;
}

.container{
width:75%;
margin:auto;
color:#ffffff;
background-color: rgba(250,250,250,.1);
padding:50px 50px;
margin-bottom:50px;
margin-top:50px;
}
.container i{
  color: #4AC959;
}
.content h2{
font-size:2em;
}
.content p{
font-size:1.5em;
}

ul li{
list-style:none;
}
.listService ul{
text-align:center;
}
.listService .quote{
  font-size:20px;
}
footer{
display:grid;
grid-template-columns: repeat(3,1fr);
grid-auto-rows:minmax(100px,auto);
font-size:1em;
color:#ffffff;
height:200px;
}
footer a{
text-decoration:none;
color:#ffffff;
}
.we{
display:flex;
align-items:center;
justify-content: center;
text-align: center;
}
.pNt{
display:grid;
grid-template-columns:repeat(1,1fr);
}
.politics{
display:grid;
justify-content:center;
align-items:center;
}
.terms{
display:grid;
justify-content:center;
}
.socials{
display:grid;
grid-template-columns:repeat(5,1fr);
grid-auto-columns: 4;
font-size:1.5em;
}
.face a:hover{
color: #4267B2;
}
.face{
display:flex;
justify-content:center;
align-items:center;
margin-bottom:15px;
}
.ins a:hover{
background: -webkit-linear-gradient( #5851DB,#833AB4,#C13584, #E1306C,#FD1D1D, #F56040,#F77737,#FCAF45);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color: #FFDC80;
}
.ins{
display:flex;
justify-content:center;
align-items:center;
margin-bottom:15px;
}
.link a:hover{
color:#2867B2;
}
.link{
display:flex;
justify-content:center;
align-items:center;
margin-bottom:15px;
}

.youtube a:hover{
color:#FF0000;
}
.youtube{
display:flex;
justify-content:center;
align-items:center;
margin-bottom:15px;
}
.wpp{
  position:fixed;
  bottom:30px;
  right:40px;
}
.fa-whatsapp{
  color: #455A64;
  font-size:2em;
}
.fa-whatsapp:hover{
  color:#4AC959;
}
}
/*Laptops*/
@media only screen and (max-width:1360px){

}

/*smartPhones*/
@media only screen and (max-width:850px){
.navigation{
display:grid;
grid-template-columns: repeat(1,1fr);
grid-auto-rows: 2;
}
.navigation a{
color: #ffffff;
}
.logo img{
width:100%;
padding:10px;
}
.iz{
display:grid;
grid-template-columns: repeat(4,1fr);
font-size:1.4em;
}
.service{
display:flex;
justify-content:center;
}
.contact{
display:flex;
justify-content:center;
}
.clients{
display:flex;
justify-content:center;
}
.whoWeAre{
display:flex;
justify-content:center;
}
.navigation span{
display:none;
}
.active{
border-bottom: 3px solid #FF0000;
}
hr{
border: 1px solid #4AC959;
}

footer{

}
}
