*{
  border:0px;
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
@font-face{
  font-family:"Times New Normal Regular";
  src:url("../fuentes/Times New Normal Regular.ttf");
}

/*Computadoras de escritorio*/
@media only screen and (min-width:1367px){

  body{
  background: radial-gradient(red, black,red)/*url("../img/fondo.png") no-repeat center center/cover*/;
  background: radial-gradient(red, black)/*url("../img/fondo.png") no-repeat center center/cover¨*/;
  color:#ffffff;
  font-family: "Times New Normal Regular";
  }
/*header desk*/
  .navigation{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-auto-rows: 2;
   }

  .navigation, .navigation a{
  text-decoration:none;
  color:white;
  }
 .active{
  border-bottom: 3px solid #4267B2;
  }
  .iz a:hover{
  border-bottom: 3px solid #2867B2;
  }
  .logo a{
  grid-column:1/2;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:10px;
  }
  .iz{
  display:grid;
  grid-template-columns: repeat(5,1fr);
  font-size:20px;
  padding:10px;
  }

  .contact{
  display:flex;
  justify-content:center;
  }
  .clients{
  display:flex;
  justify-content:center;
  }
  .galery{
  display:flex;
  justify-content:center;
  }
  .whoWeAre{
  display:flex;
  justify-content:center;
  }
  .service{
  display:flex;
  justify-content:center;
  }

  /*end Header*/
  hr{
    border:1px solid #ffffff;
  }

  @keyframes prsnttn{
    25%{
      background-image:url("../img/road2.jpg");
    }
    50%{
      background-image: url("../img/rowtrailers.jpg");
    }
    75%{
      background-image: url("../img/road.jpg");
    }
    100%{
      background-image: url("../img/trailers.jpg");
    }
  }
  .prsnttn{
    width:100%;
    height:1000px;
    background: url("../img/imagotipoWhite.png") no-repeat center center/cover;
    animation:prsnttn 30s 4;
  }
/*Container desk*/

.container{
width:100%;
margin:auto;
color:#000000;
background-color: rgba(250, 250, 250, .9)/*rgba(250,250,250,.1)*/;
padding:50px 50px;
text-align: justify;
display:grid;
grid-template-columns: repeat(2,1fr);
grid-auto-rows:minmax(200px, auto);
gap:40px;
}
.container p, span{
  font-size: 20px;
}

.container i{
  color: #4AC959;
}
.containerContact{
  width:100%;
  margin:auto;
  color:#000000;
  background-color: rgba(250, 250, 250, .9)/*rgba(250,250,250,.1)*/;
  padding:50px 50px;
  margin-bottom:50px;
  margin-top:50px;
  display:grid;
  grid-template-columns: repeat(1,1fr);
  gap:80px 30px;
  text-align: center;
  border-radius: 30px;
}
.containerAU{
  width:70%;
  margin:auto;
  color:#000000;
  background-color:rgba(250, 250, 250, .9)/*rgba(250,250,250,.1)*/;
  padding:50px 50px;
  margin-bottom:50px;
  margin-top:50px;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 30px;
  text-align: justify;
  }
.galeryContainer{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  grid-template-rows:auto;
  gap:50px;
}

.galeryContainer h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:100px;
  color:#FCAF45;
  animation-duration: 3s;
  animation-name: lumin;
  animation-iteration-count: infinite;

}

@keyframes lumin {
  0%{
    color:#5851DB/*#22C1B5*/;
  }
  10%{
    color:#833AB4/*rgba(231, 76, 60, .8)*/;
  }
  20%{
    color:#C13584/*rgba(88, 214, 141, .8)*/;
  }
  30%{
    color:#E1306C;
  }
  40%{
    color:#FD1D1D;
  }
  50%{
    color:#F56040;
  }
  60%{
    color:#F77737;
  }
}
  .galeryContainer{
  background: rgba(250, 250, 250, .8);
  }
  .galeryContainer img{
  width:100%;
  }

  .containerAU p{
    font-size:20px;
  }
  .container h3{
    text-align: center;
  }
  .container img{
    width:100%;
    border-radius:10px;
  }
  .mobile{
  display: none;
  }
  .putOn{
    width:200px;
    height:60px;
    text-align: center;
    position: relative;
    bottom:65px;
    left:245px;
    background: rgba(231, 76, 60, .8);
    border-radius:10px;
  }
  .putOn a{
    text-decoration: none;
    color: #ffffff;
    font-size:30px;

  }
  .road{
    position:relative;
    width:250px;
    height:60px;
    bottom:140px;

    text-align: center;
    background: rgba(88, 214, 141, .8);
    border-right:10px;
  }
  .road a{
    text-decoration: none;
    color: #ffffff;
    font-size:30px;
  }
  ul li{
  list-style:none;
  font-size: 20px;
  }
  ul p{
    font-size: 20px;
  }
  .listService ul {
  text-align:center;
  }
  .listService ul p{
    text-align:justify;
  }
  .listService .quote{
    font-size:18px;
  }
  .unities .u1, .u2, .u3,  .u4{
    align-content: center;
    width:250px;
  }
  .unities img{
    width: 100%;
    border-radius:80px !important;
  }
  .unities .quote{
    text-align: center;
  }
  .m1{
  grid-column: 1;
  grid-row:1;
  }
  .medidas a{
    color:#000000;
    text-decoration: none;
  }
  .medidas img{
    width:30%;
    border-radius:100px;
  }

  /*end content index*/
  /*Content Contacto*/
  .lgstTeam{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-auto-rows:3;
    gap:50px;
  }
  .lgstTeam img{
    width:180px;
    height:180px;
    border-radius:100px;
  }
  .nnc,.jspht,.mrln,.dnl{
    text-align:center;
  }
  .nnc a, .jspht a, .mrln a, .dnl a{
    text-decoration: none;
    color:#000000;
  }
label{
  font-size: 20px;
}
  input{
    background-color: rgba(250,250,250,.1);
    border-bottom:1px solid #000000;
    border-radius:50px;
    color:#000000;
    text-align:center;
    width:300px;
  }
  input:focus{
  border-bottom:1px solid #4AC959;
  background-color: rgba(0,0,0,.1);
  outline:none;
  }

  .send{
    background: -webkit-linear-gradient( #5851DB,#833AB4,#C13584, #E1306C,#FD1D1D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #FFDC80;
    width:100px;
    border-radius:15px;
    font-size: 20px;
    width:150px;
  }
  .send:hover{
    background-color:rgba(0,0,0,.7);
  }
  .cancel{
    background: -webkit-linear-gradient(#E1306C,#FD1D1D, #F56040,#F77737,#FCAF45);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #FFDC80;
    width:100px;
    border-radius:15px;
    font-size: 20px;
    width:150px;
  }
  /*end content contácto*/
/*Content Quienes somos?*/
.vlrs{
display:grid;
grid-template-columns:repeat(2,1fr);
grid-gap:30px;
text-align: center;
}
.lstrtv1,.lstrtv2,.lstrtv3,.lstrtv4{
display:flex;
align-items: center;
justify-content:center;
font-size:200px;
}
.fa-users{
background: -webkit-linear-gradient(#E1306C,#FD1D1D, #F56040,#F77737,#FCAF45);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color: #FFDC80;
}
.fa-medal{
background: -webkit-linear-gradient( #5851DB,#833AB4,#C13584, #E1306C,#FD1D1D);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color: #FFDC80;
}
.fa-award{
background: -webkit-linear-gradient(#E1306C,#FD1D1D, #F56040,#F77737,#FCAF45);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color: #FFDC80;
}
.fa-star{
background: -webkit-linear-gradient( #5851DB,#833AB4,#C13584, #E1306C,#FD1D1D);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color: #FFDC80;
}
h1, h2{
text-align: center;
}

/*-----footer desk-----*/
  footer{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows:minmax(100px,auto);
  font-size:1em;
  color:#ffffff;
  height:200px;
  }
  footer a{
  text-decoration:none;
  color:#ffffff;
  }
  .we{
  display:flex;
  align-items:center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  }
  .pNt{
  display:grid;
  grid-template-columns:repeat(1,1fr);
  font-size: 14px;
  }
  .politics{
  display:flex;
  justify-content:center;
  align-items:center;
  }
  .terms{
  display:flex;
  justify-content:center;
  }
  .socials{
  display:grid;
  grid-template-columns:repeat(5,1fr);
  grid-auto-columns: 4;
  font-size:2em;
  }
.title{
grid-column:1/6;
display:flex;
justify-content:center;
align-items:center;
font-size:16px;
text-align:center;
}

  .face a:hover{
  color: #4267B2;
  }
  .face{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom:15px;
  }
  .ins a:hover{
  background: -webkit-linear-gradient( #5851DB,#833AB4,#C13584, #E1306C,#FD1D1D, #F56040,#F77737,#FCAF45);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #FFDC80;
  }
  .ins{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom:15px;
  }
  .link a:hover{
  color:#2867B2;
  }
  .link{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom:15px;
  }

  .youtube a:hover{
  color:#FF0000;
  }
  .youtube{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom:15px;
  }
  .wpp{
    position:fixed;
    bottom:30px;
    right:40px;
  }
  .fa-whatsapp{
    color: #455A64;
    font-size:2em;
  }
  .fa-whatsapp:hover{
    color:#4AC959;
  }
}
/*Laptops*/
@media only screen and (min-width:851px) and (max-width:1366px){
  body{
  background: radial-gradient(red, black,red)/*url("../img/fondo.png") no-repeat center center/cover*/;
  background: radial-gradient(red, black)/*url("../img/fondo.png") no-repeat center center/cover¨*/;
  color:#ffffff;
  font-family: "Times New Normal Regular";
  }
/*header laptops*/
  .navigation{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-auto-rows: 2;
   }

  .navigation, .navigation a{
  text-decoration:none;
  color:white;
  }
 .active{
  border-bottom: 3px solid #4267B2;
  }
  .iz a:hover{
  border-bottom: 3px solid #2867B2;
  }
  .logo a{
  grid-column:1/2;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:10px;
  }
  .iz{
  display:grid;
  grid-template-columns: repeat(5,1fr);
  font-size:20px;
  padding:10px;
  }

  .contact{
  display:flex;
  justify-content:center;
  }
  .clients{
  display:flex;
  justify-content:center;
  }
  .galery{
  display:flex;
  justify-content:center;
  }
  .whoWeAre{
  display:flex;
  justify-content:center;
  }
  .service{
  display:flex;
  justify-content:center;
  }

  /*end Header*/
  hr{
    border:1px solid #ffffff;
  }

  @keyframes prsnttn{
    25%{
      background-image:url("../img/road2.jpg");
    }
    50%{
      background-image: url("../img/rowtrailers.jpg");
    }
    75%{
      background-image: url("../img/road.jpg");
    }
    100%{
      background-image: url("../img/trailers.jpg");
    }
  }
  .prsnttn{
    width:100%;
    height:1000px;
    background: url("../img/imagotipoWhite.png") no-repeat center center/cover;
    animation:prsnttn 30s 4;
  }
/*Container laptops*/

.container{
width:100%;
margin:auto;
color:#000000;
background-color: rgba(250, 250, 250, .9)/*rgba(250,250,250,.1)*/;
padding:50px 50px;
text-align: justify;
display:grid;
grid-template-columns: repeat(2,1fr);
grid-auto-rows:minmax(200px, auto);
gap:40px;
}
.container p, span{
  font-size: 20px;
}

.container i{
  color: #4AC959;
}
.containerContact{
  width:100%;
  margin:auto;
  color:#000000;
  background-color: rgba(250, 250, 250, .9)/*rgba(250,250,250,.1)*/;
  padding:50px 50px;
  margin-bottom:50px;
  margin-top:50px;
  display:grid;
  grid-template-columns: repeat(1,1fr);
  gap:80px 30px;
  text-align: center;
  border-radius: 30px;
}
.containerAU{
  width:70%;
  margin:auto;
  color:#000000;
  background-color:rgba(250, 250, 250, .9)/*rgba(250,250,250,.1)*/;
  padding:50px 50px;
  margin-bottom:50px;
  margin-top:50px;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 30px;
  text-align: justify;
  }
.galeryContainer{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  grid-template-rows:auto;
  gap:50px;
}

.galeryContainer h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:100px;
  color:#FCAF45;
  animation-duration: 3s;
  animation-name: lumin;
  animation-iteration-count: infinite;

}

@keyframes lumin {
  0%{
    color:#5851DB/*#22C1B5*/;
  }
  10%{
    color:#833AB4/*rgba(231, 76, 60, .8)*/;
  }
  20%{
    color:#C13584/*rgba(88, 214, 141, .8)*/;
  }
  30%{
    color:#E1306C;
  }
  40%{
    color:#FD1D1D;
  }
  50%{
    color:#F56040;
  }
  60%{
    color:#F77737;
  }
}
  .galeryContainer{
  background: rgba(250, 250, 250, .8);
  }
  .galeryContainer img{
  width:100%;
  }
  .containerAU p{
    font-size:20px !important;
  }

  .container h3{
    text-align: center;
  }
  .container img{
    width:100%;
    border-radius:10px;
  }
  .mobile{
  display: none;
  }
  .putOn{
    width:200px;
    height:60px;
    text-align: center;
    position: relative;
    bottom:65px;
    left:245px;
    background: rgba(231, 76, 60, .8);
    border-radius:10px;
  }
  .putOn a{
    text-decoration: none;
    color: #ffffff;
    font-size:30px;

  }
  .road{
    position:relative;
    width:250px;
    height:60px;
    bottom:140px;

    text-align: center;
    background: rgba(88, 214, 141, .8);
    border-right:10px;
  }
  .road a{
    text-decoration: none;
    color: #ffffff;
    font-size:30px;
  }
  ul li{
  list-style:none;
  font-size: 20px;
  }
  ul p{
    font-size: 20px;
  }
  .listService ul {
  text-align:center;
  }
  .listService ul p{
    text-align:justify;
  }
  .listService .quote{
    font-size:18px;
  }
  .unities .u1, .u2, .u3,  .u4{
    align-content: center;
    width:250px;
  }
  .unities img{
    width: 100%;
    border-radius:80px !important;
  }
  .unities .quote{
    text-align: center;
  }
  .m1{
  grid-column: 1;
  grid-row:1;
  }
  .medidas a{
    color:#000000;
    text-decoration: none;
  }
  .medidas img{
    width:30%;
    border-radius:100px;
  }

  /*end content index*/
  /*Content Contacto*/
  .lgstTeam{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-auto-rows:3;
    gap:50px;
  }
  .lgstTeam img{
    width:180px;
    height:180px;
    border-radius:100px;
  }
  .nnc,.jspht,.mrln,.dnl{
    text-align:center;
  }
  .nnc a, .jspht a, .mrln a, .dnl a{
    text-decoration: none;
    color:#000000;
  }
label{
  font-size: 20px;
}
  input{
    background-color: rgba(250,250,250,.1);
    border-bottom:1px solid #000000;
    border-radius:50px;
    color:#000000;
    text-align:center;
    width:300px;
  }
  input:focus{
  border-bottom:5px solid #4AC959;
  background-color: rgba(0,0,0,.1);
  outline:none;
  color:#000000;
  }
  .send{
    background: -webkit-linear-gradient( #5851DB,#833AB4,#C13584, #E1306C,#FD1D1D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #FFDC80;
    border-radius:15px;
    font-size: 20px;
    width:150px;
  }
  .send:hover{
    background-color:black;
    width:150px;
    border-radius:15px;
  }
  .cancel{
    background: -webkit-linear-gradient(#E1306C,#FD1D1D, #F56040,#F77737,#FCAF45);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #FFDC80;
    border-radius:15px;
    font-size: 20px;
    width:150px;
  }
  /*end content contácto*/
/*Content Quienes somos?*/
.vlrs{
display:grid;
grid-template-columns:repeat(2,1fr);
grid-gap:30px;
text-align: center;
}
.lstrtv1,.lstrtv2,.lstrtv3,.lstrtv4{
display:flex;
align-items: center;
justify-content:center;
font-size:200px;
}
.fa-users{
background: -webkit-linear-gradient(#E1306C,#FD1D1D, #F56040,#F77737,#FCAF45);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color: #FFDC80;
}
.fa-medal{
background: -webkit-linear-gradient( #5851DB,#833AB4,#C13584, #E1306C,#FD1D1D);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color: #FFDC80;
}
.fa-award{
background: -webkit-linear-gradient(#E1306C,#FD1D1D, #F56040,#F77737,#FCAF45);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color: #FFDC80;
}
.fa-star{
background: -webkit-linear-gradient( #5851DB,#833AB4,#C13584, #E1306C,#FD1D1D);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color: #FFDC80;
}
h1, h2{
text-align: center;
}

/*-----footer lap-----*/
  footer{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows:minmax(100px,auto);
  font-size:1em;
  color:#ffffff;
  height:200px;
  }
  footer a{
  text-decoration:none;
  color:#ffffff;
  }
  .we{
  display:flex;
  align-items:center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  }
  .pNt{
  display:grid;
  grid-template-columns:repeat(1,1fr);
  font-size: 14px;
  }
  .politics{
  display:flex;
  justify-content:center;
  align-items:center;
  }
  .terms{
  display:flex;
  justify-content:center;
  }
  .socials{
  display:grid;
  grid-template-columns:repeat(5,1fr);
  grid-auto-columns: 4;
  font-size:2em;
  }
.title{
grid-column:1/6;
display:flex;
justify-content:center;
align-items:center;
font-size:16px;
text-align:center;
}

  .face a:hover{
  color: #4267B2;
  }
  .face{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom:15px;
  }
  .ins a:hover{
  background: -webkit-linear-gradient( #5851DB,#833AB4,#C13584, #E1306C,#FD1D1D, #F56040,#F77737,#FCAF45);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #FFDC80;
  }
  .ins{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom:15px;
  }
  .link a:hover{
  color:#2867B2;
  }
  .link{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom:15px;
  }

  .youtube a:hover{
  color:#FF0000;
  }
  .youtube{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom:15px;
  }
  .wpp{
    position:fixed;
    bottom:30px;
    right:40px;
  }
  .fa-whatsapp{
    color: #455A64;
    font-size:2em;
  }
  .fa-whatsapp:hover{
    color:#4AC959;
  }
}

/*smartPhones*/
@media only screen and (max-width:850px){

body{
background: radial-gradient(red,black) /*url("../img/fondo.png") no-repeat center center/cover*/;
color:#ffffff;
font-family: "Times New Normal Regular";
}

.navigation{
display:grid;
grid-template-columns: repeat(1,1fr);
grid-auto-rows: 2;
}
.navigation a{
color: #ffffff;
}
.logo img{
width:100%;
padding:10px;
}
.iz{
display:grid;
grid-template-columns: repeat(5,1fr);
font-size:1.4em;
}
.service{
display:flex;
justify-content:center;
}
.contact{
display:flex;
justify-content:center;
}
.galery{
display:flex;
justify-content:center;
}
.clients{
display:flex;
justify-content:center;
}
.whoWeAre{
display:flex;
justify-content:center;
}
.navigation span{
display:none;
}
.active{
border-bottom: 3px solid #FF0000;
}
hr{
border: 1px solid #ffffff;
}

@keyframes prsnttn{
  25%{
    background-image:url("../img/road2.jpg");
  }
  50%{
    background-image: url("../img/rowtrailers.jpg");
  }
  75%{
    background-image: url("../img/road.jpg");
  }
  100%{
    background-image: url("../img/trailers.jpg");
  }
}
.prsnttn{
  width:100%;
  height:900px;
  background: url("../img/imagotipoWhite.png") no-repeat center center/cover;
  animation:prsnttn 30s 6;
}


/*content*/
.container{
padding:10px;
width:100%;
margin:3px 0px 3px 0px;
background:#EAEDED;
color:#000000;
display:grid;
grid-template-columns: repeat(1,1fr);
grid-gap:40px;
text-align:center;
}
.container img{
width:100%;
border-radius:10px;
}

.container a{
text-decoration:none;
font-size:30px;
color: #ffffff;
}
.fa-globe-americas{
color: #2ECC71
}
.fa-lock{
color:#F5B041;
}
.fa-boxes{
color:#B9770E;
}
.fa-dolly{
color:#34495E;
}
.containerContact{
  padding:10px;
  width:100%;
  margin:3px 0px 3px 0px;
  background:#EAEDED;
  color:#000000;
  display:grid;
  grid-template-columns: repeat(1,1fr);
  grid-gap:100px;
  text-align:center;
}
.galeryContainer{
background: rgba(250, 250, 250, .8);
}
.galeryContainer img{
width:50%;
}
.containerAU{
  width:100%;
  margin:3px 0px 3px 0px;
  color:#000000;
  background-color: #EAEDED;
  padding:50px 50px;
  margin-bottom:10px;
  margin-top:10px;
  display:grid;
  grid-template-columns:repeat(1,1fr);
  grid-gap: 30px;
  text-align: center;
  }
  .containerAU p{
    text-align: justify !important;
  }
  h1, h2{
    text-align: center;
  }
  .vlrs{
    margin-top:20px;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap:10px;
    text-align: center;
  }
.containerContact a{
text-decoration: none;
color:#000000;
}
.putOn{
width:170px;
position:relative;
bottom:71px;
left:235px;
background: rgba(231, 76, 60, .8);
border-radius:10px;
}
.road{
  width:200px;
  position:relative;
  bottom:200px;
  background: rgba(88, 214, 141, .8);
  border-right:10px;
}
.listService li{
list-style-type:none;
}
.listService{
grid-template-columns:repeat(2,1fr);
grid-auto-rows:5;
}
.lgstTeam{
  margin-top:50px;
  display:grid;
  grid-template-columns: repeat(1,1fr);
  grid-gap:20px;
}
.nnc,.jspht{
text-align:center;
}
.send{
  background: -webkit-linear-gradient( #5851DB,#833AB4,#C13584, #E1306C,#FD1D1D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #FFDC80;
  width:100px;
  border-radius:15px;
  font-size: 20px;
  width:150px;
}
.cancel{
  background: -webkit-linear-gradient(#E1306C,#FD1D1D, #F56040,#F77737,#FCAF45);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #FFDC80;
  width:100px;
  border-radius:15px;
  font-size: 20px;
  width:150px;
}
.desk{
  display:none;
  }
  .content i{
  text-align:center;
  }
  .mobile{
  font-size:90px;
  }

.lgstTeam img{
width:50%;
border-radius:150px;
}

.db{
text-align:center
}
label{
  font-size: 20px;
}

input{
background-color:rgba(250,250, 250, .1);
border-bottom:1px solid #000000;
color:#000000;
text-align:center;
width:300px;
}
input:focus{
border-bottom:1px solid #4AC959;
background-color: rgba(250, 250, 250,.1);
outline:none;
}

/*footer smartphone*/
footer{
  height:auto;
  display:grid;
  grid-template-columns:repeat(1,1fr);
  grid-uto-rows:3;
  text-align:center;
  grid-gap:20px;
}
footer a{
color:#ffffff;
text-decoration:none;
}
.we{
grid-row:3;

}
.pNt{
grid-row:2;
}
.socials{
display:grid;
grid-template-columns:repeat(4,1fr);
grid-auto-rows: 2;
grid-gap: 20px;
font-size:2em;
}
.face,
.ins,
.link,
.youtube{
grid-row:2;
display:flex;
justify-content:center;
align-items:center;
}
.title{
grid-column:1/5;
font-size:20px;
display:flex;
justify-content:center;
align-items:center;
margin-top:10px;
}
.wpp{
position:fixed;
bottom:30px;
right:30px;
}
.fa-facebook{
color:#4267B2;
}
.fa-instagram{
background: -webkit-linear-gradient( #5851DB,#833AB4,#C13584, #E1306C,#FD1D1D, #F56040,#F77737,#FCAF45);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color: #FFDC80;
}
.fa-linkedin{
color:#2867B2;
}
.fa-youtube{
color:#FF0000;
}
.fa-whatsapp{
color:#4AC959;
font-size:60px;
}
}
